@import 'tailwindcss';
/* @import 'react-resizable/css/styles.css'; */

:root {
    --text-primary: #000000;
    --bg-primary: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));

:root.dark {
    --text-primary: #ffffff;
    --bg-primary: #000000;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
}

button {
    cursor: pointer;
}
